@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
:root {
    --fonte1:  Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:'passion one',cursive;
--fonte3:'Sriracha',  sans-serif;
}


*{
    margin:0px;
    padding: 0px;
    font-size: 1em;
   
}
html,body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: rgb(22, 20, 20);
    color:white;
    text-align: center;
}


header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vh;
}
.search{
    top: 50%;
    left: 50%;
}

.search,container{
   margin: 0px;
   padding: 0px;
}

nav {
     
    padding: 10px;
   text-align: center;
   position: relative;
}
nav > a {
    padding: 10px;
    text-decoration: none;
    color: white;
    display: inline-block;
 text-align: center;
    
   } 

div.iburquer{
    position: absolute;
    top: 50%;
    left: 50%;
   
}
#menu a{
    display:block;
    padding: .5rem;
   

}
#menu >li{
    display: inline;
}
#menu >li>a {
    display: inline;}

span#burquer{
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    
}
span#burquer :hover{
    background-color: white;
    color:black;
}


header > p{
    padding-bottom:50px ;
}
header a, footer a{
    color:white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover ,footer a :hover{

    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    line-height: 30px;
    font-family: var(--fonte3);
    font-size: 2.5vw;
}
section >p{
    padding-bottom:2em;
}
section.normal {
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: 1px 1px 0px black;
    background-size:cover ;
    background-attachment: fixed;
}
section.imagem >p{
    display: inline-block;
    padding:5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 2px 2px 0px black;
}
section#img01{
    background-image: url('../imagens/hourglass-620397_640.jpg');
    background-position:right center ;
    
}

section#img02{
    background-image: url('../imagens/setenil-de-las-bodegas-298655_640.jpg');
    
}


section#img03{
    background-image: url('../imagens/jam-2575843_640.jpg');

}


section#img04{
    background-image: url('../imagens/highway-1666635_640\ \(1\).jpg');

}

section#img05{
    background-image: url('../imagens/morning-2243465_640.jpg');
    background-size:cover ;

}


footer{
    background-color: rgb(12, 12, 12);
    color: white;
    text-align: center;
    position: fixed;
    bottom:0;
    width: 100%;
}

@media (max-width:600px){
    #menu{
        display: block;
    }


}
